Quicklinks/local.properties
Quicklinks/.gradle/8.13/executionHistory/executionHistory.bin
Quicklinks/.gradle/8.13/fileHashes/fileHashes.bin
Quicklinks/.gradle/8.13/fileHashes/resourceHashesCache.bin
Quicklinks/.gradle/8.13/executionHistory/executionHistory.lock
Quicklinks/.gradle/8.13/fileHashes/fileHashes.bin
Quicklinks/.gradle/8.13/fileHashes/fileHashes.lock
Quicklinks/.gradle/8.13/fileHashes/resourceHashesCache.bin
Quicklinks/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Quicklinks/.gradle/8.13/executionHistory/executionHistory.bin
